@model IEnumerable<StudentSystem.Models.Student>
<div class="jumbotron">
    <h1>Student System</h1>
    <p class="lead">Using ASP.NET Web API create REST services for the Student System demo from Code First presentation in the Databases course.<br/>Use high-quality code, use Repository pattern and create services for all available models.Do not use scaffolding.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
@foreach (var student in Model)
{
    <div class="row">
        <div class="col-md-6">
            @student.FirstName  
        </div>
        <div class="col-md-6">
           @student.LastName 
        </div>
    </div>
}
